<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
            <link rel="stylesheet" href="${request.contextPath}/statics/plugins/layui2_3_0/css/layui.css" media="all">
            <link rel="stylesheet" href="${request.contextPath}/statics/libs/themes/simple/simple.css" media="all">
            <script src="${request.contextPath}/statics/plugins/layui2_3_0/layui.js"></script>
            <script src="${request.contextPath}/statics/plugins/layer/layer.js"></script>
            <script src="${request.contextPath}/statics/libs/kindeditor-all.js"></script>
            <script src="${request.contextPath}/statics/libs/zh-CN.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-inline">
                <label class="form-inline">文章编号：<input type="text" v-model="q.articleNo" @keyup.enter="query" class="form-control" placeholder="文章编号"></label>
                <label class="form-inline">文章名称：<input type="text" v-model="q.articleName" @keyup.enter="query" class="form-control" placeholder="文章名称"></label>
                <label class="form-inline">文章作者：<input type="text" v-model="q.articleAuthor" @keyup.enter="query" class="form-control" placeholder="文章作者"></label>
                <label class="form-inline">文章标签：
                    <div class="form-group">
                        <select class="form-control" v-model="q.articleTag">
                            <option value="" >全部</option>
                            <option v-for="lists in list" :value="lists.code" :key="lists.code">{{lists.value}}</option>
                        </select>
                    </div>
                </label>
                <label class="form-inline">文章状态：
                    <div class="form-group">
                        <select  class="form-control" v-model="q.articleStatus" @keyup.enter="query" >
                            <option value="" >全部</option>
                            <option value="0" >上线</option>
                            <option value="1" >下线</option>
                            <option value="2" >新建</option>
                        </select>
                    </div>
                </label>
                <a class="btn btn-default" @click="query">查询</a>
                <#if shiro.hasPermission("sys:articleinfo:save")>
                    <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
                </#if>
                <#if shiro.hasPermission("sys:articleinfo:delete")>
                    <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
                </#if>
            </div>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="showSaveOrUpdate" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal" style="width:1100px">
            <div class="form-group">
                <div class="col-sm-2 control-label">文章名称</div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" v-model="articleInfo.articleName" placeholder="文章名称"/>
                </div>
                <div class="col-sm-1 control-label">文章作者</div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" v-model="articleInfo.articleAuthor" placeholder="文章作者"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">外部引用地址</div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" v-model="articleInfo.articleHref" placeholder="外部引用地址"/>
                </div>
                <div class="col-sm-1 control-label">文章标签</div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <select class="form-control" v-model="articleInfo.articleTag">
                            <option v-for="lists in list" :value="lists.code" :key="lists.code">{{lists.value}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">文章状态</div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <select class="form-control"  v-model="articleInfo.articleStatus">
                            <option value="0" >上线</option>
                            <option value="1" >下线</option>
                            <option value="2" >新建</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-1 control-label">文章排序</div>
                <div class="col-sm-4">
                    <input type="number" class="form-control" v-model="articleInfo.articleSort" placeholder="文章排序"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">文章封面图</label>
                <div class="layui-inline">
                    <div class="layui-upload-list layui-input-inline" style="margin-left: 15px">
                        <img class="layui-upload-img" id="img" width="100px" height="100px" >
                        <p id="demoText"></p>
                    </div>
                    <button type="button" class="layui-btn" id="file">
                        <i class="layui-icon">&#xe67c;</i>上传图片
                    </button>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">文章简介</div>
                <div class="col-sm-8">
                    <textarea class="form-control" style="width: 798px;" lay-verify="number" rows="2" v-model="articleInfo.articleBrief" name="proBrief"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">文章内容</div>
                <div class="col-sm-8">
                    <textarea id="editor_id"  style="width:798px;height:200px;">

                    </textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary"  @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>

    <div v-show="showDetail" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal" style="width:1100px">
            <div class="form-group">
                <div class="col-sm-2 control-label">文章名称</div>
                <div class="col-sm-4">
                    <input type="text" disabled class="form-control" v-model="articleInfo.articleName" placeholder="文章名称"/>
                </div>
                <div class="col-sm-1 control-label">文章作者</div>
                <div class="col-sm-4">
                    <input type="text" disabled class="form-control" v-model="articleInfo.articleAuthor" placeholder="文章作者"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">外部引用地址</div>
                <div class="col-sm-4">
                    <input type="text" disabled class="form-control" v-model="articleInfo.articleHref" placeholder="外部引用地址"/>
                </div>
                <div class="col-sm-1 control-label">文章标签</div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <select class="form-control" disabled v-model="articleInfo.articleTag">
                            <option v-for="lists in list" :value="lists.code" :key="lists.code">{{lists.value}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">文章状态</div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <select class="form-control" disabled  v-model="articleInfo.articleStatus">
                            <option value="0" >上线</option>
                            <option value="1" >下线</option>
                            <option value="2" >新建</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-1 control-label">文章排序</div>
                <div class="col-sm-4">
                    <input type="number" disabled class="form-control" v-model="articleInfo.articleSort" placeholder="文章排序"/>
                </div>

            </div>
            <div class="form-group">

                <label class="col-sm-2 control-label">文章封面图</label>
                <div class="layui-inline">
                    <div class="layui-upload-list layui-input-inline" style="margin-left: 15px">
                        <img class="layui-upload-img" id="imgd" width="100px" height="100px" >
                    </div>
                </div>
            </div>
            <div class="form-group">

                <div class="col-sm-2 control-label">文章简介</div>
                <div class="col-sm-8">
                    <textarea class="form-control" style="width: 798px;" disabled lay-verify="number" rows="2" v-model="articleInfo.articleBrief" name="proBrief"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">文章内容</div>
                <div class="col-sm-8">
                    <textarea id="editor_idd"  style="width:798px;height:200px;">

                    </textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>

</div>

<script src="${request.contextPath}/statics/js/modules/sys/articleinfo.js?_${.now?long}"></script>
</body>
</html>