<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("sys:orderinfo:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:orderinfo:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:orderinfo:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">订单编号[自动生成]</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="orderInfo.orderNo" placeholder="订单编号[自动生成]"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">订单名称[课程/问答/直播]</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="orderInfo.courseName" placeholder="订单名称[课程/问答/直播]"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">课程价格</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="orderInfo.coursePrice" placeholder="课程价格"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">订单类型[0-课程， 2-问答  3-直播]</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="orderInfo.orderType" placeholder="订单类型[0-课程， 2-问答  3-直播]"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">订单金额</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="orderInfo.orderPrice" placeholder="订单金额"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">订单抵扣</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="orderInfo.orderCoupon" placeholder="订单抵扣"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">订单状态[0-待付款， 1-已付款， 2-待退款， 3-已退款，4-拒退款]</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="orderInfo.orderStatus" placeholder="订单状态[0-待付款， 1-已付款， 2-待退款， 3-已退款，4-拒退款]"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">付款方式[0-微信， 1-支付宝,  2-银联]</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="orderInfo.payType" placeholder="付款方式[0-微信， 1-支付宝,  2-银联]"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">机构名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="orderInfo.orgName" placeholder="机构名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">会员姓名</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="orderInfo.userName" placeholder="会员姓名"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">会员电话</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="orderInfo.userPhone" placeholder="会员电话"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">下单时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="orderInfo.createTime" placeholder="下单时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">付款时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="orderInfo.payTime" placeholder="付款时间"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/orderinfo.js?_${.now?long}"></script>
</body>
</html>