<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("sys:orderrefund:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:orderrefund:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:orderrefund:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">订单编号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="orderRefund.orderNo" placeholder="订单编号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">订单金额</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="orderRefund.orderPrice" placeholder="订单金额"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">实际退款金额</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="orderRefund.refundPrice" placeholder="实际退款金额"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">退款状态[0-待退款 1-已退款 2-拒退款]</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="orderRefund.refundStatus" placeholder="退款状态[0-待退款 1-已退款 2-拒退款]"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">退款说明-必填</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="orderRefund.refundMemo" placeholder="退款说明-必填"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">退款流水号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="orderRefund.refundNo" placeholder="退款流水号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">退款操作人</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="orderRefund.refundOper" placeholder="退款操作人"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="orderRefund.refundTime" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="orderRefund.applyTime" placeholder=""/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/orderrefund.js?_${.now?long}"></script>
</body>
</html>