<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
            <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap-datetimepicker.min.css" >
            <script src="${request.contextPath}/statics/libs/bootstrap-datetimepicker.min.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-inline">
                <label class="form-inline">订单编号：<input type="text" v-model="q.orderNo" @keyup.enter="query" class="form-control" placeholder="订单编号"></label>
                <label class="form-inline">手机号码：<input type="text" v-model="q.phone" @keyup.enter="query" class="form-control" placeholder="手机号码"></label>
                <label class="form-inline">用户姓名：<input type="text" v-model="q.userName" @keyup.enter="query" class="form-control" placeholder="用户姓名"></label>
                <label class="form-inline">付款方式：
                    <div class="form-group">
                        <select  class="form-control" v-model="q.applyType" @keyup.enter="query" >
                            <option value="" >全部</option>
                            <option value="0" >微信支付</option>
                            <option value="1" >支付宝</option>
                            <option value="2" >银联支付</option>
                            <option value="3" >线下转账</option>
                        </select>
                    </div>
                </label>
                <label class="form-inline">退款状态：
                    <div class="form-group">
                        <select  class="form-control" v-model="q.refundStatus" @keyup.enter="query" >
                            <option value="" >全部</option>
                            <option value="0" >待退款</option>
                            <option value="1" >已退款</option>
                            <option value="2" >拒退款</option>
                        </select>
                    </div>
                </label>
                </label><label> <input type='text' class='form-control ' id='dateBegin' name='date_begin' placeholder="开始时间" value='' ng-model="dateBegin"> </label>---
                <label> <input type='text' class='form-control ' id='dateEnd' name='date_begin' placeholder="结束时间" value='' ng-model="dateEnd"> </label>
                <a class="btn btn-default" @click="query">查询</a>
                <#if shiro.hasPermission("sys:articleinfo:save")>
                    <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
                </#if>
                <#if shiro.hasPermission("sys:articleinfo:delete")>
                    <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
                </#if>
                <a class="btn btn-primary" @click="excle"><i class="fa fa-cloud-download"></i>&nbsp;导出</a>
            </div>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="showSaveOrUpdate" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal" style="width:1100px">
            <div class="form-group">

                <div class="col-sm-2 control-label">课程名称</div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" v-model="orderRefund.courseName" placeholder="课程名称"/>
                </div>
                <div class="col-sm-1 control-label">订单编号</div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" v-model="orderRefund.orderNo" placeholder="订单编号"/>
                </div>
                <a class="btn btn-primary" @click="getOrder" style="padding-left: 28px;padding-right: 28px;">获取</a>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">退款状态</div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <select class="form-control"  v-model="orderRefund.refundStatus">
                            <option value="0" >待退款</option>
                            <option value="1" >已退款</option>
                            <option value="2" >拒退款</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-1 control-label">实际退款金额</div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" v-model="orderRefund.refundPrice" placeholder="实际退款金额"/>
                </div>
                <div class="control-label" style="width: 10px;float: right;">元</div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">退款申请时间</div>
                <div class="col-sm-4">
                    <input type="text" id="datetimepicker" class="form-control" placeholder="退款申请时间"/>
                </div>
                <div class="col-sm-1 control-label">订单金额</div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" v-model="orderRefund.orderPrice" placeholder="订单金额"/>
                </div>
                <div class="control-label" style="width: 10px;float: right;">元</div>

            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">会员姓名</div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" v-model="orderRefund.userName" placeholder="会员姓名"/>
                </div>
                <div class="col-sm-1 control-label">手机号</div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" v-model="orderRefund.phone" placeholder="会员手机号"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">机构名称</div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" v-model="orderRefund.organization" placeholder="机构名称"/>
                </div>
                <div class="col-sm-1 control-label">退款方式</div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <select class="form-control"  v-model="orderRefund.refundStatus">
                            <option value="0" >微信支付</option>
                            <option value="1" >支付宝</option>
                            <option value="2" >银联支付</option>
                            <option value="3" >线下转账</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">退款处理时间</div>
                <div class="col-sm-4">
                    <input type="text" id="datetimepickerd" class="form-control" placeholder="退款处理时间"/>
                </div>
                <div class="col-sm-1 control-label">退款操作人</div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" v-model="orderRefund.refundOper" placeholder="退款操作人"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">退款说明</div>
                <div class="col-sm-10">
                    <textarea class="form-control"  style="margin-left: 15px; width: 798px;" lay-verify="number" rows="2" v-model="orderRefund.refundMemo" name="proBrief"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>


    <div v-show="showDetail" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal" style="width:1100px">
            <div class="form-group">
                <div class="col-sm-2 control-label">订单编号</div>
                <div class="col-sm-4">
                    <input type="text" disabled class="form-control" v-model="orderRefund.orderNo" placeholder="订单编号"/>
                </div>
                <div class="col-sm-1 control-label">课程名称</div>
                <div class="col-sm-4">
                    <input type="text" disabled class="form-control" v-model="orderRefund.courseName" placeholder="课程名称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">退款状态</div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <select class="form-control" disabled  v-model="orderRefund.refundStatus">
                            <option value="0" >待退款</option>
                            <option value="1" >已退款</option>
                            <option value="2" >拒退款</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-1 control-label">实际退款金额</div>
                <div class="col-sm-4">
                    <input type="text" disabled class="form-control" v-model="orderRefund.refundPrice" placeholder="实际退款金额"/>
                </div>
                <div class="control-label" style="width: 10px;float: right;">元</div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">退款申请时间</div>
                <div class="col-sm-4">
                    <input type="text" id="datetimepicker1" disabled class="form-control"  placeholder="退款申请时间"/>
                </div>
                <div class="col-sm-1 control-label">订单金额</div>
                <div class="col-sm-4">
                    <input type="text" disabled class="form-control" v-model="orderRefund.orderPrice" placeholder="订单金额"/>
                </div>
                <div class="control-label" style="width: 10px;float: right;">元</div>

            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">会员姓名</div>
                <div class="col-sm-4">
                    <input type="text" disabled class="form-control" v-model="orderRefund.userName" placeholder="会员姓名"/>
                </div>
                <div class="col-sm-1 control-label">手机号</div>
                <div class="col-sm-4">
                    <input type="text" disabled class="form-control" v-model="orderRefund.phone" placeholder="会员手机号"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">机构名称</div>
                <div class="col-sm-4">
                    <input type="text" disabled class="form-control" v-model="orderRefund.organization" placeholder="机构名称"/>
                </div>
                <div class="col-sm-1 control-label">退款方式</div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <select class="form-control" disabled  v-model="orderRefund.refundStatus">
                            <option value="0" >微信支付</option>
                            <option value="1" >支付宝</option>
                            <option value="2" >银联支付</option>
                            <option value="3" >线下转账</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">退款处理时间</div>
                <div class="col-sm-4">
                    <input type="text" id="datetimepickerd1" disabled class="form-control"  placeholder="退款处理时间"/>
                </div>
                <div class="col-sm-1 control-label">退款操作人</div>
                <div class="col-sm-4">
                    <input type="text" disabled class="form-control" v-model="orderRefund.refundOper" placeholder="退款操作人"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">退款说明</div>
                <div class="col-sm-10">
                    <textarea class="form-control" style="margin-left: 15px ; width: 798px;" disabled lay-verify="number" rows="2" v-model="orderRefund.refundMemo" name="proBrief"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-primary" @click="returnPay" value="退款"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/orderrefund.js?_${.now?long}"></script>
</body>
</html>